{% comment %} article_respond.html {% endcomment %}
{% load custom_tags %}
<div class="comment" id="news-comment-{{ comment.id }}">
    <div class="body-card">
        {% if not comment.is_deleted %}
        <div class="main-comment">
            <h6 class="card-subtitle mb-2 text-muted">{{ comment.author.username }}</h6>
            <p class="card-text">{{ comment.text }}</p>
        </div>
        <div class="comment-interactions d-flex align-items-center justify-content-start">
            <button class="btn btn-like-news {% if liked %}active{% endif %}" data-comment-id="{{ comment.id }}" data-action="like">
                <i class="fas fa-thumbs-up"></i> <span id="news-likes-count-{{ comment.id }}">{{ comment.likes.count }}</span>
            </button>
            <button class="btn btn-dislike-news {% if disliked %}active{% endif %}" data-comment-id="{{ comment.id }}" data-action="dislike">
                <i class="fas fa-thumbs-down"></i> <span id="news-dislikes-count-{{ comment.id }}">{{ comment.dislikes.count }}</span>
            </button>
        </div>
        <div class="comment-menu">
            {% if user.is_authenticated %}
                <button class="btn btn-sm btn-outline-secondary reply-btn mr-2" data-comment-id="{{ comment.id }}">Ответить</button>
            {% endif %}
            {% if request.user == comment.author %}
                <a href="{% url 'edit_article_comment' comment.id %}" class="btn btn-sm btn-outline-primary mr-2">Редактировать</a>
            {% endif %}
            {% if request.user|has_group:"Модераторы" or request.user == comment.author or request.user.is_superuser %}
                <button class="btn btn-sm btn-outline-danger" data-id="{{ comment.id }}">Удалить</button>
            {% endif %}
        </div>
        {% else %}
            <p class="card-text">Комментарий удален</p>
        {% endif %}
        
        <div class="replies" id="replies-{{ comment.id }}">
            {% for child_comment in comment.replies.all %}
                {% include "news_app/article_respond.html" with comment=child_comment %}
            {% endfor %}
        </div>
    </div>
</div>
