{% extends 'news_app/base.html' %}
{% load custom_tags widget_tweaks %}

{% block content %}
<div class="container py-5">
    <article class="shadow p-4 mb-5 bg-white rounded">
        <h2>{{ article.title }}</h2>
        <div class="article-tags">
            <strong>Теги:</strong>
            {% for tag in article.tags.all %}
                <span class="badge badge-warning">{{ tag.name }}</span>
            {% endfor %}
        </div>
        {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid">
        {% endif %}
        <div class="article-content">
            <p class="mt-3 px-3 py-2">{{ article.content|linebreaksbr }}
        </div>
        <p class="text-muted">Опубликован: {{ article.published_date }}</p>

        {% if request.user|has_group:"Модераторы" %}
            <div class="mb-3">
                <a href="{% url 'edit_article' article.id %}" class="btn btn-sm btn-outline-primary">Редактировать</a>
                <a href="{% url 'delete_article' article.id %}" class="btn btn-sm btn-outline-danger">Удалить</a>
            </div>
    {% endif %}
    </article>
    


    <section class="comments-section" id="comments-section">
        <h3 class="comments-title">Комментарии</h3>
        {% for comment in comments %}
            {% include "news_app/article_respond.html" with comment=comment %}
        {% endfor %}
    </section>

    {% if user.is_authenticated %}
    <div class="add-comment-form mt-5" id="comment-form-section">
        <h4>Оставить комментарий</h4>
        <form method="post" class="mt-3" id="comment-form">
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form.text|add_class:"form-control" }}
                <input type="hidden" name="parent_id" id="parent_id">
            </div>
            <button type="submit" class="btn btn-primary">Оставить комментарий</button>
        </form>
    </div>
    {% else %}
        <p class="mt-3"><a href="{% url 'sign_in' %}?next={{ request.path }}" class="btn btn-outline-primary">Войдите, чтобы оставить комментарий</a></p>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    function getCSRFToken() {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            var cookieParts = cookie.split('=');
            if (cookieParts[0] === 'csrftoken') {
                return cookieParts[1];
            }
        }
        return null;
    }

    var csrftoken = getCSRFToken();

    $(document).on('click', '.btn-like-news, .btn-dislike-news', function(e) {
        e.preventDefault();
        var commentId = $(this).data('comment-id');
        var action = $(this).data('action');
        var url = `/comments/${commentId}/${action}/`;

        $.ajax({
            url: url,
            method: 'GET',
            success: function(data) {
                $(`#news-likes-count-${commentId}`).text(data.likes);
                $(`#news-dislikes-count-${commentId}`).text(data.dislikes);
                if (data.action === 'liked') {
                    $(`[data-comment-id="${commentId}"][data-action="like"]`).addClass('active');
                    $(`[data-comment-id="${commentId}"][data-action="dislike"]`).removeClass('active');
                } else if (data.action === 'disliked') {
                    $(`[data-comment-id="${commentId}"][data-action="dislike"]`).addClass('active');
                    $(`[data-comment-id="${commentId}"][data-action="like"]`).removeClass('active');
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX Error: ', status, error);
            }
        });
    });

    $(document).on('click', '.reply-btn', function() {
        const commentId = $(this).data('comment-id');
        $('#parent_id').val(commentId);
        document.getElementById('comment-form-section').scrollIntoView({ behavior: 'smooth' });
    });
    $('#comment-form').submit(function(e) {
        e.preventDefault();
        var formData = $(this).serialize();
        
        $.ajax({
            url: "{% url 'add_comment' article.id %}",
            type: 'POST',
            data: formData,
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(response) {
                console.log("Comment added", response);
                if (response.parent_id) {
                    $('#replies-' + response.parent_id).append(response.comment_html);
                } else {
                    $('#comments-section').append(response.comment_html);
                }
                $('#comment-form')[0].reset();
                $('#parent_id').val(''); 
            },
            error: function(xhr, status, error) {
                console.error('Error: ' + error);
            },
        });
    });

    
    $(document).on('click', '.btn.btn-sm.btn-outline-danger', function() {
        var commentId = $(this).data('id');  
     
        $.ajax({
            url: '/delete_article_comment/' + commentId + '/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': getCSRFToken(),  
            },
            success: function(response) {
                if (response.status === 'success') {
                    var commentDiv = $('#news-comment-' + response.comment_id);
                    var textElement = commentDiv.find('> .body-card > .main-comment > .card-text');
                    if (textElement.length > 0) {
                        textElement.text('Комментарий удален');
                    } else {
                        commentDiv.find('> .body-card > .main-comment').prepend('<p class="card-text">Комментарий удален</p>');
                    }
    
                    // Скрываем кнопки и информацию об авторе в текущем комментарии
                    commentDiv.find('> .body-card > .main-comment > .card-subtitle').hide();
                    commentDiv.find('> .body-card > .comment-menu').children('.btn, a').hide();
                    commentDiv.find('> .body-card > .comment-interactions').children('.btn').hide();
                } else {
                    alert(response.message);  
                }
            },
            error: function() {
                alert('Ошибка при удалении комментария.');
            }
        });
    });
});
</script>
{% endblock %}
