{% extends 'news_app/base.html' %}
{% load i18n %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">{% trans "Сброс пароля отправлен" %}</h2>
                    <p>{% trans "Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время. Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, под которым зарегистрировались, и проверьте папку со спамом.." %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
