{% extends 'news_app/base.html' %}
{% load i18n %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">{% trans "Сброс пароля завершен" %}</h2>
                    <p>{% trans "Ваш пароль установлен. Вы можете войти в систему сейчас." %}</p>
                    <a class="btn btn-primary w-100" href="{% url 'sign_in' %}">{% trans "Вход" %}</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
