@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333; 
    line-height: 1.6; 
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

main {
    width: 100%;
    padding-top: 80px; 
}

header h1 {
    margin: 0;
}
.nav-tabs {
    transform: translateY(-10px); /* Смещает вкладки на 10 пикселей вверх */
}
.nav-tabs .nav-link {
    
    background-color: #f8f9fa; /* светлый фон для всех вкладок */
    color: #007bff; /* синий цвет текста */
    border: 1px solid transparent;
    border-radius: 5px; /* закругленные углы */
    margin-right: 5px; /* небольшой отступ между вкладками */
}

.nav-tabs .nav-link:hover {
    background-color: #e9ecef; /* темнее фон при наведении */
    color: #0056b3; /* темно-синий цвет текста */
}

.nav-tabs .nav-link.active {
    background-color: #007bff; /* синий фон для активной вкладки */
    color: #ffffff; /* белый цвет текста */
}
.nav-tabs .nav-link {
    transition: all 0.3s ease; /* плавный переход эффектов */
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* тень для активной вкладки и при наведении */
}
.nav-tabs .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width .3s;
}

.nav-tabs .nav-link:hover::after {
    width: 100%; /* линия под вкладкой расширяется при наведении */
}

.nav-tabs .nav-link.active::after {
    width: 100%; /* линия под активной вкладкой */
}
.add-thread-btn {
    background-color: #28a745; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

.add-thread-btn:hover {
    background-color: #218838; 
}

.btn-outline-success:hover, .btn-outline-success:focus {
    color: #ffffff; 
    background-color: #28a745;
    border-color: #28a745; 
}

.btn-outline-success:hover {
    background-color: #28a745; 
    color: white; 
    border-color: #28a745; 
}



.navbar {
    background-color: #333; 
    padding: 0.6rem 1rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #fff;
    padding: 0.5rem 1rem;
}

.navbar ul li a:hover {
    background-color: #444;
}


.main-container {
    padding: 1rem;
    max-width: 1200px; 
    margin: 0 auto; 
}

.section {
    margin: 2rem 0;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    overflow: hidden; 
    transition: background-color 0.3s, box-shadow 0.3s; 

}

.card:hover {
    background-color: #f8f9fa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.card-title {
    margin-bottom: 0.5rem;
    font-weight: 600; 
}

.card-text {
    font-size: 0.9rem; 
}
.comment-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.comment-menu button, .comment-menu a {
    white-space: wrap; 
    flex-shrink: 0; 
}

.comment {

    position: relative;
    padding-left: 20px; /* Отступ для линии и текста */
    margin-left: 20px; /* Отступ для сдвига комментариев */
}

.comment::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ccc; /* Цвет линии */
}

.replies {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: flex-end;
    
    margin-left: -45px;
}

/*работа с комментами*/


/* Уберите стили card и shadow с комментариев второго уровня и далее */
.card.mb-4.shadow-sm:not(:first-child) {
    margin-bottom: 0;
    box-shadow: none;
    background: none;
}

.body-card {
    padding-left: 20px;
    position: relative;

}

.comments-title {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .card-body {
        overflow-x: hidden;
        width: auto;

    }
    .comment-menu {
        justify-content: space-between; /* Распределяет контент на всю доступную ширину */
    }
    .comment-menu button, .comment-menu a {
     
        font-size: 0.75rem; /* Уменьшите размер шрифта кнопок */
    }
    .comment {
        margin-left: 10px; 
        border-left: none; /* Убираем вертикальную линию */
     
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 5px;
        margin-top: 5px;
    }
    .comment::before {
        left: 5px; /* Позиционируйте линию ближе к тексту на мобильных устройствах */
    }
    .replies {
        width: min-content;
        margin-left: -35px;
    }
    .reply-btn, .btn-like, .btn-dislike {
        font-size: 12px;

    }
}


.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 0.3rem;
}

.pagination li a {
    color: #333;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

.pagination li a:hover {
    background-color: #e9ecef;
}




.nav-link:hover, .nav-link:focus {
    color: #ffffff; 
    text-decoration: none; 
    background-color: transparent; 
}




.form-control:focus {
    border-color: #28a745; 
    box-shadow: none; 
}

.select2-container--default .select2-selection--multiple {
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff;
    border: 1px solid #006fe6;
    color: white;
    padding: 0 10px;
    margin-top: .31rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

.select2-container .select2-results {
    max-height: 400px; /* Устанавливает максимальную высоту списка результатов */
  }


.btn-like:hover, .btn-like:focus, .btn-dislike:hover, .btn-dislike:focus {
    color: #007bff; /* Цвет при наведении */
    transform: scale(1.1); /* Увеличение размера при наведении */
}

.btn-like:active {
    color: #0345fc; /* Цвет при клике на лайк */
}

.btn-dislike:active {
    color: #fc0335; /* Цвет при клике на дизлайк */
}

/* Дополнительно: изменение цвета иконок и текста по состоянию */
.btn-like.liked, .btn-dislike.disliked {
    color: #007bff;
}



.logo-image {
    height: 50px; /* Высота вашего логотипа */
    margin-right: 10px; /* Отступ между логотипом и текстом */
}

.site-title {
    color: #FFFFFF; /* или цвет, соответствующий вашему бренду */
    margin-left: 10px;
    font-size: 1.5rem; /* или размер, подходящий под дизайн */
    font-weight: bold;
    vertical-align: middle;
}

.navbar-brand:hover .site-title,

.navbar-brand:focus .site-title {
    text-decoration: none; /* Убирает подчёркивание при наведении */
    color: #CCCCCC; /* Цвет при наведении */
}
