{% extends 'news_app/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Зарегистрироваться</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="submit_signup" value="1">
                        {% for field in signup_form %}
                            <div class="form-group mb-3">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
        {% if signup_form.errors %}
        <div class="alert alert-danger">
            <strong>Errors:</strong>
            {{ signup_form.errors.as_ul }}
        </div>
        {% endif %}
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Войти</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="submit_login" value="1">
                        {% for field in login_form %}
                            <div class="form-group mb-3">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if login_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ login_form.non_field_errors }}
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary w-100">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
