
{% load custom_tags %}

<div class="card mb-4 shadow-sm" style="margin-left: {{ comment.level|default:0|multiply:20 }}px;">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{ comment.author.username }}</h6>
        <p class="card-text">{{ comment.text }}</p>
        <div class="d-flex justify-content-end">
            {% if user.is_authenticated %}
                <button class="btn btn-sm btn-outline-secondary reply-btn mr-2" data-comment-id="{{ comment.id }}">Ответить</button>
            {% endif %}
            {% if request.user == comment.author %}
                <a href="{% url 'edit_thread_comment' comment.id %}" class="btn btn-sm btn-outline-primary mr-2">Редактировать</a>
            {% endif %}
            {% if request.user|has_group:"Модераторы" or request.user == comment.author or request.user.is_superuser %}
                <a href="{% url 'delete_thread_comment' comment.id %}" class="btn btn-sm btn-outline-danger">Удалить</a>
            {% endif %}
        </div>
        {% for child_comment in comment.replies.all %}
            {% include "news_app/thread_respond.html" with comment=child_comment %}
        {% endfor %}
    </div>
</div>
