@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    word-wrap: break-word; /* Для устаревших браузеров */
    overflow-wrap: break-word; /* Современный стандарт */
    white-space: normal; /* Нормальное поведение пробелов */
}
.card-body,
.card-text,
.comment,
.replies,
.article-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.article-content,
.article-title {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
body {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    width: 100%;
    padding-top: 80px;
}

.navbar {
    background-color: #333;
    padding: 0.6rem 1rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #fff;
    padding: 0.5rem 1rem;
}

.navbar ul li a:hover {
    background-color: #444;
}

.navbar-brand:hover .site-title,
.navbar-brand:focus .site-title {
    text-decoration: none;
    color: #CCCCCC;
}

.article-tags .badge {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 5px;
    display: inline-block;
}

.nav-tabs {
    transform: translateY(-10px);
}

.nav-tabs .nav-link {
    background-color: #f8f9fa;
    color: #007bff;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.nav-tabs .nav-link:hover {
    background-color: #e9ecef;
    color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width .3s;
}

.nav-tabs .nav-link:hover::after {
    width: 100%;
}

.nav-tabs .nav-link.active::after {
    width: 100%;
}

.add-thread-btn {
    background-color: #28a745;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

.add-thread-btn:hover {
    background-color: #218838;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

.btn-outline-success:hover, .btn-outline-success:focus {
    color: #ffffff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-like-thread:hover, .btn-like-thread:focus, .btn-dislike-thread:hover, .btn-dislike-thread:focus {
    color: #007bff;
    transform: scale(1.1);
}

.btn-like-thread:active {
    color: #0345fc;
}

.btn-like-thread:active {
    color: #fc0335;
}

.btn-like-thread.liked, .btn-like-thread.disliked {
    color: #007bff;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    overflow: hidden;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.card:hover {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word; /* Ensure long words wrap */
    overflow-wrap: break-word; /* Ensure long words break */
}

.card-title {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.card-text {
    font-size: 0.9rem;
}

.comment-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.comment-menu button, .comment-menu a {
    white-space: wrap;
    flex-shrink: 0;
}

.comment {
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.comment::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ccc;
}

.replies {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -45px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.card.mb-4.shadow-sm:not(:first-child) {
    margin-bottom: 0;
    box-shadow: none;
    background: none;
}

.body-card {
    padding-left: 20px;
    position: relative;
}

.comments-title {
    margin-bottom: 30px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 0.3rem;
}

.pagination li a {
    color: #333;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

.pagination li a:hover {
    background-color: #e9ecef;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: none;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff;
    border: 1px solid #006fe6;
    color: white;
    padding: 0 10px;
    margin-top: .31rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

.select2-container .select2-results {
    max-height: 400px;
}

.logo-image {
    height: 50px;
    margin-right: 10px;
}

.site-title {
    color: #FFFFFF;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .card-body {
        overflow-x: hidden;
        width: auto;
    }
    .comment-menu {
        justify-content: space-between;
    }
    .comment-menu button, .comment-menu a {
        font-size: 0.75rem;
    }
    .comment {
        border-left: none;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 1px;
        margin-top: 5px;
        padding-left: 1px;
    }
    .comment::before {
        left: 5px;
    }
    .replies {
        margin-left: 0;
        overflow-x: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
    .reply-btn, .btn-like, .btn-dislike {
        font-size: 12px;
    }
}
